.shopCart{
    width: 782px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
    .el__products{
        display: flex;
        background-color: #FAFAFA;
        padding: 10px 4px;
        align-items: center;
        gap: 14px;
        p{
            opacity: .6;
        }
        h4{
            display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            width: 200px;
        }
    }
}

.quantity{
    display: flex;
    align-items: center;
    width: 100px;
    gap: 10px;
    button{
        padding: 6px 10px;
        background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.8) 100%);
        border: 1px solid #46A358;
        color: #fff;
        border-radius: 50%;
    }
}
.parag{
    width: 80px;
}
.paragraph{
    width: 40px;
}
.trash{
    background-color: #fff;
    border: none;
    svg{
        font-size: 24px;
    }
}

.df{
    display: flex;
    gap: 80px;
    /* align-items: center; */
    padding: 50px 0;
}
.inp{
    display: flex;
    align-items: center;
    border: 1px solid #46A358;
    padding-left: 10px;
    border-radius: 3px;
    input{
        border: none;
        outline: none;
    }
    button{
        padding: 12px 35px;
        background-color: #46A358;
        border: none;
        color: #fff;
    }
}
.dfc{
    p{
        margin: 22px 0 8px 0;
        color: #3D3D3D;

    }
}
.pdf{
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;
    h2{
        color: #46A358;
        font-size: 22px;
    }
}

.btna{
    display: flex;
    flex-direction: column;
    gap: 10px;
    button{
        padding: 12px 90px;
        background-color: #46A358;
        border: 1px solid #46A358;
        color: #fff;
        border-radius: 6px;
    }
    a{
        text-align: center;
        color: #46A358;
    }
}